html
  head
    title= title
  body
    h1= message
    table.door
      thead
        tr
          th='ID'
          th='Time'
          th='Status'
      tbody
        each item in logs
          tr
            td=item.id
            td=moment(item.created_at).fromNow()
            td=item.status
